*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
}


body {
max-width: 100%;
background: rgb(255,255,255);
background: linear-gradient(325deg, rgba(255,255,255,1) 0%, rgba(218,41,28,1) 80%);
height: 30rem;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 29rem;
  margin: 1rem auto 0 auto;
  overflow: hidden;
}


/* h1 + buttons */

.roadToDanish {
  font-family: "Montserrat", sans-serif;
  color: rgb(255,255,255);
  font-size: 4rem;
  text-align: center;
  margin: 2rem auto 1rem auto;
}


/* START BUTTON */

.practice {
  color: black;
  background-color: white;
  border-radius: 2rem;
  border: 1px solid black;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  font-size: 2rem;
  margin: 3rem auto 2rem auto;
}

.practice:hover{
  color: white;
  background-color: rgb(218,41,28);
}


/* FORM */

.formu-juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  display: none;
  transform: scale(1);
  margin: 0 auto 0 auto;
  color: white;
}


/* FORM SUBMIT BUTTON */

.submit-btn-form {
font-family: "Montserrat", sans-serif;
color: black;
background-color: white;
border-radius: 30px;
padding: 8px 25px 8px 25px;
cursor: pointer;
}

.submit-btn-form:hover {
  color: white;
  background-color: rgb(218,41,28);
}


/* FORM ENGLISH WORD */

.english-word {
  pointer-events: none;
}

/* FORM DANISH WORD INPUT */

.danish-word {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 1rem;
  font-size: 1rem;
}



/* FORM - VIEW RESULTS BUTTON */

.view-results {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  border-radius: 2rem;
  border: 1px solid black;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  margin: 20rem auto 2rem auto;
  display: none;
  position: absolute;
  font-size: 2rem;
  z-index: 10;
}

.view-results:hover {
  color: white;
  background-color: rgb(218,41,28);
}

@media only screen and (min-width: 768px){
  body{
    height: 50rem;
  }
  .intro-container{
    height: 48rem;
    margin: 1rem auto 0 auto;
  }
  .roadToDanish{
    margin: 10rem auto 1rem auto;
  }
  .formu-juego{
    transform: scale(2) translateY(5rem);
  }
}
