*{
  paddin: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

/* INTRO */

#intro{
  width: 100%;
  height: 50rem;
  background-color: rgb(218, 41, 28);
  overflow: hidden;
}

.horizontal-rectangle{
  width: 90rem;
  height: 10rem;
  background-color: white;
  z-index: 5;
  animation-name: rectanglehor;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}

.vertical-rectangle{
  width: 10rem;
  height: 50rem;
  background-color: white;
  z-index: 6;
  animation-name: rectanglever;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rectanglehor{
  0% {transform: translate(-90rem, 1rem);}
  25% {transform: translate(-45rem, 1rem);}
  50% {transform: translate(0rem, 1rem);}
  75% {transform: translate(45rem, 1rem);}
  100% {transform: translate(90rem, 1rem);}
}

@keyframes rectanglever{
  0% {transform: translate(10rem, -70rem);}
  25% {transform: translate(10rem, -35rem);}
  50% {transform: translate(10rem, 0rem);}
  75% {transform: translate(10rem, 35rem);}
  100% {transform: translate(10rem, 50rem);}
}

.intro-main-title{
  display: inline-block;
  font-size: 6rem;
  margin: 1rem auto 1rem auto;
  text-shadow: 5px 2px white;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  font-stretch: semi-expanded;
}

.intro-title-practice{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto 0 auto;

}

.practice{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Timmana', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto 2rem auto;

}

.tenses-title:hover{
  color: white;
  cursor: pointer;
}

.conjunctions-title:hover{
  color: white;
  cursor: pointer;
}

.family-title:hover{
  color: white;
  cursor: pointer;
}

.work-title:hover{
  color: white;
  cursor: pointer;
}

.free-time-title:hover{
  color: white;
  cursor: pointer;
}
