*{
  paddin: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

/* INTRO */

#intro{
  width: 100%;
  height: 50rem;
  background-color: rgb(218, 41, 28);
  overflow: hidden;
}

.horizontal-rectangle{
  width: 90rem;
  height: 7rem;
  background-color: white;
  z-index: 1;
}

.vertical-rectangle{
  width: 7rem;
  height: 50rem;
  background-color: white;
  z-index: 1;
  transform: translate(10rem, -40rem);
}


.intro-main-title{
  display: inline-block;
  font-size: 6rem;
  margin: 1rem auto 1rem auto;
  text-shadow: 5px 2px white;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  font-stretch: semi-expanded;
  z-index: 3;
}

.intro-title-practice{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto 0 auto;
  z-index: 3;
}

.practice{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Timmana', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto 2rem auto;
  z-index: 3;
}

.tenses-title:hover{
  color: white;
  cursor: pointer;
}

.conjunctions-title:hover{
  color: white;
  cursor: pointer;
}

.family-title:hover{
  color: white;
  cursor: pointer;
}

.work-title:hover{
  color: white;
  cursor: pointer;
}

.free-time-title:hover{
  color: white;
  cursor: pointer;
}
