*{
  padding: 0;
  margin; 0;
}

html{
  font-size: 20px;
}

body{
  background-color: rgb(218, 41, 28);
  color: white;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  font-stretch: semi-expanded;
}

h1{
  font-size: 5rem;
  margin: 5rem auto 1rem auto;
}

h5{
  text-decoration: underline;

}

p{
  font-size: 2rem;
}

.frankrig1{
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
}

.frankrig2{
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
}


.testBtn{
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 2.5rem auto 0 auto;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.testBtn:hover{
  background-color: black;
}



/* examples */

.tyskland{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.marie{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.cykler{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.arbejder{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.underviser{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.endnu{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.single{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.norreport{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

/* IKKE, VEL and next btns */

.nextBtn{
  display: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 4rem auto 0 auto;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.nextBtn:hover{

  background-color: black;
}

.ikkeBTN{
  display: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 2.5rem auto 0 auto;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.ikkeBTN:hover{

  background-color: black;
}

.velBTN{
    display: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 2.5rem auto 0 auto;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.velBTN:hover{

  background-color: black;
}
