*{
  padding: 0;
  margin; 0;
}

html{
  font-size: 20px;
}

body{
  background-color: rgb(218, 41, 28);
  color: white;
  text-align: center;
  font-family: 'Timmana', sans-serif;
  font-stretch: semi-expanded;
}

h1{
  font-size: 5rem;
  margin: 5rem auto 1rem auto;
}

h5{
  text-decoration: underline;

}

p{
  font-size: 2rem;
}

.frankrig1{
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
}

.frankrig2{
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
}


.testBtn{
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 2.5rem auto 0 auto;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.testBtn:hover{
  background-color: black;
}



/* examples */

.tyskland{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.marie{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.cykler{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.arbejder{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.underviser{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

/* IKKE and VEL btns */

.ikkeBtn1{

  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.ikkeBtn1:hover{
  background-color: black;
}

.ikkeBtn2{

  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.ikkeBtn2:hover{
  background-color: black;
}

.ikkeBtn3{

  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.ikkeBtn3:hover{
  background-color: black;
}

.ikkeBtn4{

  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.ikkeBtn4:hover{
  background-color: black;
}

.ikkeBtn5{

  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.ikkeBtn5:hover{
  background-color: black;
}

.velBtn1{
  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.velBtn1:hover{
  background-color: black;
}

.velBtn2{
  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.velBtn2:hover{
  background-color: black;
}

.velBtn3{
  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.velBtn3:hover{
  background-color: black;
}

.velBtn4{
  padding: 0.5rem 2rem 0.5rem 2rem;

  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.velBtn4:hover{
  background-color: black;
}

.velBtn5{
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.velBtn5:hover{
  background-color: black;
}

.nextBtn{
    display: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 2.5rem auto 0 auto;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.nextBtn:hover{

  background-color: black;
}
